target
.idea
.idea_modules
.DS_Store
.classpath_nb

project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

*.log
.history
logs
target
project/target
project/project/target
temp